@import url("https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");

h1,
p,
a,
h2 {
  font-family: "Playfair", serif;
}

/* HEADER */
#logo {
  font-weight: 600;
  font-size: 1.8rem;
  border: 2px solid black;
  display: inline;
  padding: 5px;
  margin-top: 50px;
}

ul {
  list-style: none;
  padding-left: 0;
}
a {
  color: black;
}
/* MAIN */
.main-img {
  width: 30%;
  height: 30%;
}

/*CATEGORY*/
.category-image {
  width: 30%;
  height: 30%;
}

/*FOOTER*/
footer {
  margin-top: 1rem;
  border-top: 1px solid black;
}
